.pager {
  background-color: $platinum;
  padding: 3rem;
  &a {
    color: inherit;
  }
}

.pager__item {
  background-color: $white;
  color: $eerie-black;
  & .active {
    background-color: $nickel;
  }
}
.pager__link {
  color: $eerie-black;
}

.pager__item--prev,
.pager__link--prev {
  border-radius: 2rem 0 0 2rem;
}

.pager__item--next,
.pager__link--next {
  border-radius: 0 2rem 2rem 0;
}

.pager__link--active {
  color: $white;
  background-color: $nickel;
  border-color: $nickel;
}
