// Color scheme
//_ First color scheme
$white: #fff;
$platinum: #e6e7e7;
$light-gray: #d1d1d1;
//_ Second color scheme
$fuzzy-wuzzy: #e56353;
$ruddy-pink: #d76c69;
$spanish-pink: #ecbcba;
//_ Third color scheme
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6c6e70;

// Font family
$roboto: "Roboto", sans-serif;
$playfair-display: "Playfair Display", serif;

// Typography
//_ Font Weight
$light: 300;
$regular: 400;
$black: 900;
//_ Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
//_ Font Styles
$italic: italic;
