.hero {
  height: 100vh;
  background-image: url("../images/post-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  margin-bottom: 3rem;
}

.hero__title {
  position: absolute;
  bottom: 30%;
  width: 50%;
  left: 25%;
}

.hero__arrow {
  color: $white;
  position: absolute;
  bottom: 10px;
}

@media (max-width: 576px) {
  .hero__title {
    font-size: $x-large;
    width: 80%;
    left: 10%;
    top: 40%;
  }
}
